# Database
DATABASE_URL=postgresql://user:password@host:5432/database
MONGODB_URI=mongodb://host:27017/lianata_finance

# Auth
BETTER_AUTH_SECRET=isi-random-string-minimal-32-karakter
BETTER_AUTH_URL=http://localhost:3000

# Google OAuth
GOOGLE_CLIENT_ID=isi-client-id-google
GOOGLE_CLIENT_SECRET=isi-client-secret-google

# Email (Gmail SMTP)
GMAIL_APP_PASSWORD=isi-app-password-gmail
EMAIL_FROM=email@gmail.com
